
#logo{
    float: left;
    margin-left: 300px;
    margin-top: 40px;
    margin-right: 6px;   
}
nav ul li {
    display: inline-block;
    float: right;
    padding: 1px;
    
}
nav ul{
    margin-right: 310px;
    
}
#para2{
    font-size: 11px;
    font-family: 'Open Sans Condensed', sans-serif;
    
}
#para1{
    font-family: 'Yellowtail', cursive;;
    font-size: 33px;
    margin-top: 20px;
   
}

 hr{
    height: 10px;
    background-image:url('/images/hr-img.png') ;
    width: 60%;
    display: block; 
    margin-left: 300px;
    margin-right: 50px;
    border:none;
    margin-top: 50px;
} 
#div{
        max-width: 380px;
        display: inline;
        margin-left: 305px;

      
        
}
#head1{
    display: block;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    max-width: 400px;
    margin-top: 50px;
    margin-left: 300px;
    font-size: 30px;
}
#head2{
    font-family: 'Open Sans Condensed', sans-serif;
    margin-left: 300px;
    font-size: 13px;
    margin-top: 4px;  
    color:hsl(0, 4%, 76%);
    
}
#Print{
float: right;
margin-right: 1px;
}
#h6{
    float: right;
    text-decoration: none;
    font-family: 'Open Sans Condensed', sans-serif;
    color:rgb(197, 192, 192);
    font-size: 13px;
    margin-right: 310px;
}
#choco{
    display: inline-block;
  width: 60%;
  height: 600px;
  margin-top: 30px;
  margin-left:300px;
  margin-right: 300px;
}
#rss{
    margin-left:8px ;
}

#p1,#p2,#p3{
    font-family: 'Noto Serif', serif;
    font: size 16px;
    padding:10px;
    color:rgb(172, 172, 172);
    margin-left: 300px;
    margin-right: 300px;
    text-indent: 25px;
    line-height: 1.5;
}
#s1{
    background-image: url('Chocolate-Pizza/images/list-bg.png');
    background-size: 75%;
    background-repeat: no-repeat;
    font-family: 'Patrick Hand', cursive;
    margin-left: 300px;
    margin-top: 20px;
    font-size: 22px;
    text-indent: 25px;
    height: 300px;
    
}
#ch{
    margin-left: 23px;
}

 
#UL2{
    float:right;
    margin-right: 400px;
    padding-top: 30px;
    line-height: 1.5;
}

#UL1{
    float:left;
    margin-left: 60px;
    padding-top: 30px;
    line-height: 1.5;
}

 button{
    background-color: #da532a;
    color: white;
    font-size: 12px;
    float: right;
    margin-right: 300px;
    width: 130px;
    height: 50px;
    border: none;
    margin-top: -75px;
    text-align: center;
}  
#name{
    font-family: 'Noto Serif', serif;
    font-weight: bolder;
    color:rgb(82, 78, 78);
    font-size: 17px;  
    margin-left: 20px;
    float: left;
    margin-top:30px;
}
#vimg{
     float: left;
     margin-left: 300px;
     margin-top: 30px;
}
#para3{
    font-family: 'Noto Serif', serif;
    color:rgb(104, 101, 101);
    font-size: 15px;
    padding-top: 15px;
    padding-left: 20px;
   display: inline-block;
   max-width: 550px;
   line-height: 1.5;
   margin-right: 430px;   
} 
#hrfoot{
    background:url('Chocolate-Pizza/images/small-logo.png') no-repeat top center;
    width: 60%;
    border: none;
    display: block; 
    position: relative;
    height: 50px;
}
#hrfoot::before ,#hrfoot::after{
    content: '';
    display: block;
    position: absolute;
    background:rgb(235, 234, 234);
    height: 2px;
    top: 15px;
}
#hrfoot::before{
    left: 0px;
    right: 51%;
    margin-right: 15px;
    
}
#hrfoot::after{
    right:0px;
    left: 51%;
    margin-left: 15px;
    
}
footer p{
    text-align: center;
    color:rgb(172, 172, 172);
    line-height: 1.3;
    font-size: 15px;
}
label{
    font-size: 1.5em;
}
input[type="checkbox"]:checked + label{
    color:black;
    text-decoration: line-through;
}
#cbox1,#cbox2,#cbox3,#cbox4,#cbox5,#cbox6,#cbox7,#cbox8,#cbox9,#cbox10,#cbox11,#cbox12:checked + label{
    color: black;
    text-decoration-style: line-through;

}
    
